*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

footer{
	background: #282828;
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	padding: 25px 0;
	border-bottom: 2px solid #191919;
	border-top: 1px solid #191919;
}
footer a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
footer a:hover{
	text-decoration: none;
	cursor: pointer;
}
.centro{
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}
.rodape-icones a i{
	font-size: 21px;
	color: #b7b7b7;
	margin: 0 3px;
	margin-top: 5px;
}
.rodape-icones a i:hover{
	color: #fff;
}







header{
	background: #282828;
	font-weight: 300;
	color: fff;
}
.logo{
	width: 25%;
	float: left;
	overflow: auto;
}
.menu{
	width: 75%;
	float: left;
	overflow: auto;
}
.menu ul{
	float: right;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding: 5px 10px;
	display: inline-block;
	padding: 25px 15px;
}
.menu ul li a:hover{
	background: #3d3d3d;
	transition: 0.2s;

}







.bloco{
	width: 398px;
	overflow: auto;
	float: left;
	border:1px solid #fff;
	margin-bottom: 15px;
	margin-top: 10px;
}
.bloco:hover{
	border-color: #e2e2e2;
}
.bloco .imagem{
	width: 80px;
	float: left;
}
.bloco .imagem img{
	height: 70px;
}
.bloco .informacoes-usuario{
	float: left;
}
.bloco .informacoes-usuario h2{
	font-size: 22px;
	letter-spacing: 1px;
	color: #1e1e1e;
}
.bloco .informacoes-usuario small{
	color: #3d3d3d;
	font-size: 12px;
	font-weight: 300;
	position: absolute;
	margin-top: -2px;
	letter-spacing: 0.1px;
}
.btn-user-info{
	position: relative;
	display: inline-block;
	background-color: #0d6c84;
	color: #fff;
	padding: 5px 15px;
	margin-top: 15px;
	text-decoration: none;
	font-weight: 300;
	font-size: 12px;
	border-radius: 2px;
	border: 1px solid #085b70;
}
.btn-user-info:hover{
	background-color: #09657c;
}
.btn-user-edit{
	background: #db1818;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
	padding: 5px 15px;
	border-radius: 2px;
	border: 1px solid #af0f0f;
}
.btn-user-edit:hover{
	background-color: #f41d1d;
}